.footer{

    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    z-index: 2;


}
.icons{
    justify-content: center;
    

}
.fa-brands,
.fa-solid{
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding: 10px 20px;
}