* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body{
  background: black;
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 25px;
  --typewriter:#DB2A4A;

}
h1, h2{
  font-family: 'Poppins', sans-serif;

}
/*First Page Styles*/
nav{
  display: flex;
  height: 10vh;
  padding-top: 10px;

  
}
.logo{
  width: 55px;
  height: 55px;
  margin-top:10px;
  margin-left:30px;
  filter: drop-shadow(2px 2px 2px rgb(66, 66, 66));
  cursor: pointer;
 
}
.nav-links{
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  list-style: none;
}
.nav-links li a{
  text-decoration: none;
  color:white;
  font-size: 25px;
}
.nav-links li a:hover{
  border-bottom: 2px solid red;
}


.row{
  display:flex;
  width: 100%;
  height: 90vh;
}
.column{
  float: left;
}
.left{
  width:60%;
  
  
}
.right{
  width: 40%;
  
}
.left h1{
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 80px;
  margin-top: 200px;
  margin-left:200px;
 
}
#Hello h1{
  color: black;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.left .intro{
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  margin-top:50px;
  margin-left: 100px;
}
#typewriter{
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  margin-top: 30px;
  margin-left: 50px;
  color: var(--typewriter);
  
  
}

#homeImg img{
  width: 80%;
  height:80%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 143px;
  margin-left: auto;
}

#intro h1{
  font-size: 50px;
}
#typewriter{
  
  width: auto;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: .15em;
  border-right: .15em solid white;
  animation: typing 4.5s steps(40,end),
            caret .80s step-end infinite;
  
}

@keyframes typing{
  from{max-width: 0}
  to{max-width: 100%}
}
@keyframes caret{
  from,to{border-color: transparent;}
  50%{border-color: white;}
} 

/*second Page Styles*/
.about{
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;


}
#aboutContent{
  display: flex;
  
}
.aboutTitle{
  
  border-bottom: 1px solid white;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 50px;
  font-size: 60px;
  color: black;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

/* .aboutTitle{
  
  border-bottom: 2px solid red;
  margin-top: 15px;
  color: black;
  -webkit-text-stroke-color: black;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(2px 2px 1px solid white);
  
} */
.about .image{
  padding-top: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 50px;

}
.about .info{
  
  width: 50%;
  font-size: 25px;
  padding-top: 25px;
}

.info p{
  padding-top:20px;
  width: 90%;
  
}
 .about img{
   filter: grayscale(560%);
   width: 50%;
   height:100%; 
 }

 .contactPage{
   width: 100%;
   height: 90vh;
   
  
 }
 .contactPage .icons {
 margin-left: 45%;
 padding: 50px;

 }
 .icons img{
   max-width: 25%;
   max-height: 25%;
   margin-top: 5%;
 }
 .email{
   display: flex;
 }
 .email p{
   margin-left: 2%;
   margin-top: 6%;
 }
.projectcard{
  margin-top: 100px;
  width: 100%;
  height: 70vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  

}
.firstrow{

  width: 100%;
  display: flex;
}
#gallery{
  padding-top: 50px;
  
}
.drawings{
  width: 25%;
  height: 500px;
  background: red;
}
.firstrow img{
  width: 100%;
  height: 100%;
}

.projectcard a, .caseStudy a{
  text-decoration: none;
  color: white;
  font-size: 70px;
  filter: drop-shadow(1px 1px 15px black);
  
}
#illustrations{
  background-image: url(illustrations\ group\ img.png);
  
}
#cssdrawings{
  background-image: url(drawings\ group.png);
}
#designprojects{
  background-image: url(Design\ group.png);
  margin-bottom: 100px;
}
#illustrations:hover{
  background-image: url(illustrations\ group.png);
  transition: all 0.5s ease-in;
}
#cssdrawings:hover{
  background-image: url(drawings.png);
  transition: all 0.5s ease-in;
}
#designprojects:hover{
  background-image: url(Design.png);
  transition: all 0.5s ease-in;
}
.cssdrawing{
  width: 100%;
  height: 150vh;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.cssdrawing a p{
  text-decoration: none;
  color: white;
}
.cssdrawing  p{
  
  margin-bottom: 180px;
  margin-top: auto;

}
.cssdrawing iframe{
  width: 100%;
  height: 100%;
  margin-left: 0px;
}
#giphy{
  height: 100vh;
  background-image: url(giphy_imageResized.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#giphy:hover{
  background-image: url(giphy.gif);
}
#stewie{
  
  background-image: url(stewie.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#sunset{
  
  background-image: url(sunset.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#ryan{
  height: 150vh;
  background-image: url(ryan.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#DevEd{
  
  background-image: url(DevEd\ figma\ tutorial.png);
  background-repeat: no-repeat;
  background-size: 100% 80%;
}
#InteractiveMedia{
  
  background-image: url(InteractiveMedia.png);
  background-repeat: no-repeat;
  background-size: 100% 80%;
  
}
#cssAnimations{
  
  background-image: url(CSS\ animations\ .png);
  background-repeat: no-repeat;
  background-size: 100% 80%;
  
}

#graphicDesign{
  background-image: url(self-portrait-1.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: 50% 80%;
}
.caseStudy{
  width: 100%;
  height: 90vh;
  background: red;
  border: 1px solid white;
  margin-bottom: 100px;
  margin-top: 50px;
}
.caseStudy a{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20%;
}
#legitCaseStudy{
  background-image: url(LegitRedesign_Iteration2\ -\ Figma\ 2021_09_06\ 12_21_29\ \(2\).png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: grayscale(100%);
}

#legitCaseStudy:hover{
  background-image: url(LegitRedesign_Iteration2\ -\ Figma\ 2021_09_06\ 12_21_29\ \(2\).png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: none;
  transition: 0.75s all ease-in;
}


#logoCaseStudy{
  background-image: url(LogoDesign\ -\ Figma\ .png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: grayscale(100%);
}


#logoCaseStudy:hover{
  background-image: url(LogoDesign\ -\ Figma\ .png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: none;
  transition: 0.75s all ease-in;
}


#drawingCaseStudy{
  background-image: url(ryan-code.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: grayscale(100%);
}

#drawingCaseStudy:hover{
  background-image: url(ryan-code.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: none;
  transition: 0.75s all ease-in;
}
.ryanOutline{
  margin-left: 8%;
  width: 80%;
  height: 100vh;
  margin-top: 20px;
  margin-bottom: 20PX;
 
}
#ryanOutline{
  background-image: url(Ryan\ Destiny\ -\ Google\ Chrome\ 2021_10_26\ 21_17_35.png);
  background-size: cover;
}
#triangle{
  background-image: url(index.html\ -\ examples\ -\ Visual\ Studio\ Code\ 2021_10_26\ 21_45_37.png);
  background-size: cover;
}
#FinalRyan{
  background-image: url(ryan.png);
  background-size: (100% 100%);
  background-repeat: no-repeat;
}


 @media only screen and (max-width: 768px){
  body{
    font-size: 1em;
  }
  nav{
    position: relative;
    height:10vh;
  }
  .line{
    width:30px;
    height:3px;
    background: white;
    margin: 5px;
  }
  .hamburger{
    position: fixed;
    right: 5%;
    top: 5%;
    transform: translate(-5%, -50%);
    cursor: pointer;
    z-index: 5;
  }
  .nav-links{
    position: fixed;
    height:100vh;
    width: 100%;
    top: 0;
    flex-direction: column;
    clip-path: circle(100px at 90% -5%);
    -webkit-clip-path: circle(100px at 90% -5%);
    pointer-events: none;
    background:rgb(26, 25, 25);
    transition: all 1s ease-out 0s;
    z-index: 4;
    
  }
  .nav-links.open{
    clip-path: circle(1000px at 90% 5%);
    -webkit-clip-path: circle(1000px at 90% 5%);
    pointer-events: all;
    z-index: 4;
    
  }
  .nav-links li{
    opacity: 0;
  }
  .nav-links li a{
    font: 14px;
  }

  .nav-links li:nth-child(1){
    transition:all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2){
    transition:all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3){
    transition:all 0.5s ease 0.6s;
  }

  li.fade{
    opacity:1;
  }
  .Home .row{
    width: 100%;
    display: flex;
    
  }
 
 .Home .left{
   
    width: 50%;
    height:100%;
    font-size: 1.5rem;
    
  }
  .Home h1{
    font-size: 2.5em;
    margin-left: 50px;

  }
 .left .intro {
    font-size: 30px;
    margin-left: 3px;
  }
  #typewriter{

    margin-left: 5px;
    text-overflow:inherit;
    font-size: 1.2rem;
    font-weight: bolder;
  }
 
  .Home .right{
    width: 50%;
    height: 100%;
    
  }
  
  .Home img{
    max-width: 80%;
    max-height: 80%;
    
  }
  .about{
    position: relative;
    z-index: -2;
  }
  
  #aboutContent{
    flex-direction: row;
    height: 100vh;
    
  }
  .image img{
    width: 90%;
    height: 90%;
  }
  .info p{
    margin-left: 30px;
    font-size: 18px;
  }
  .projectcard, .caseStudy{
    max-width: 100%;
    position: relative;
    z-index: 2;
    
  }
  
  .projectcard h1, .caseStudy h1{
    
    margin-left:10%;
  }
  .projectcard h1{
    min-width: 100%;
  }

  .firstrow{
    max-width: 100%;
    max-height: 100%;

  }
  #gallery{
    margin-top: 200px;
    
  }
  .drawings{
    max-width: 100%;
    margin-top: -100px;
    margin-bottom: -150px;
    background: transparent;
  }
  .drawings img{
    max-width: 100%;
    max-height: 50%;

  }
  .cssdrawing{
    margin-left: 10%;
    max-width: 80%;
    max-height: 80%;
  }
  .cssdrawing iframe{
    max-height: 50%;
    
  }
  #DevEd{
    margin-top: -500px;
    max-width: 80%;
    max-height: 30%;
  }
  #InteractiveMedia, #cssAnimations{
    max-width: 80%;
    max-height: 30%;
    margin-top: -100px;

  }
  .caseStudy h1{
    margin-top: 20%;
  }
  #legitCaseStudy h1{
    margin-left: 20%;
  }
.landing img{
 min-width: 100%;
 max-height: 100%;
 margin-left: -15%;
 
}
.landing h1{
  margin-left: -110px;
  
}
.caseTitle h1{
  font-size: 50%;
}
.overview{
  max-width: 100%;
}
.index .nav-links{
  max-width: 100%;
}
.scrollUp{
  display: none;
}

.contactPage{
  max-width: 100%;
  height: 100%;
  
 
}
.contactPage .icons {
margin-left: 20%;
padding: 50px;

}
.icons img{
  max-width: 60%;
  max-height: 60%;
  margin-top: 5%;
}
.email{
  display: flex;
}
.email p{
  margin-left: 2%;
  margin-top: 8%;
}
  
}
@media only screen and (max-width:600px){
  body{
    font-size: 1rem;
  }
  h1{
    font-size: 1.2rem;
  }
  h2{
    font-size: 1.0rem;
  }
  .caseTitle h1{
    min-width: 100%;
    margin-left: -15%;
   
  }
  .logoTitle h1{
    margin-left: -15%;
    min-width: 100%;
    margin-top: -20%;
    
 
  }
  .landing img{
    min-width: 100%;
    min-height: 50%;
  }
  #logoTitle{
    font-size: 1.;
    
  }

  #ryanOutline, #FinalRyan{
    max-width: 100%;
    max-height: 50%;
 margin-left: -10%;
 background-size: 100% 100%;
  }
  .info p{
    padding-bottom: 20px;
  }
  .overview .left img{
    margin-left: -10%;
    min-width: 100%;
    max-height: 100%;
  }
  .overview .right p{
    margin-left: 15%;
  }
  #intro h1{
    font-size: 20px;
    margin-left: 10%;
  }
  .tools h1{
    margin-top: 50px;

  }
  img{
    max-height: 100%;
    max-width: 100%;
  }
  #ux img{
    min-width: 80%;
    max-height: 50%;
  }
  .overviewSection .right{
    margin-left: -15%;

  }
  .tri-column img{
    min-width: 15%;
  }
  .tri-column p{
    padding-left: 10px;
  }
  .iteration img{
    min-width: 130%;
    max-height: 100%;
  }
}
