
         <div class="footer">

            <div class="icons">
            <a href="https://www.linkedin.com/in/kamogelo-mafaesa-93a1681b5/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
           <a href="mailto:kamogelomafaesa7@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
            <a href="https://www.facebook.com/kamo.jasmine" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/kamos_art_and_stuff/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
   
