
        <nav id="navibar">       
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
         <a href="{{ site.baseurl }}/index.html"><img class="logo" src="{{ site.baseurl }}/Images/personal-logo.png" alt="personal logo"></a>
        <ul class="nav-links">
            <li><a href="{{ site.baseurl }}/html/about.html">About</a></li>
            <li><a href="{{ site.baseurl }}/html/Projects.html">Projects</a></li>
            <li><a href="{{ site.baseurl }}/html/caseStudies.html">Case Studies</a></li>
            <li><a href="{{ site.baseurl }}/html/Contact.html">Contact</a></li>
        </ul>
    </nav>
