
        <nav id="navibar">       
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
         <a href="../index.html"><img class="logo" src="../Images/LOGO 1.png" alt="personal logo"></a>
        <ul class="nav-links">
            <li><a href="../html/about.html">About</a></li>
            <li><a href="../html/Projects.html">Projects</a></li>
            <li><a href="../html/caseStudies.html">Case Studies</a></li>
            <li><a href="../html/contact.html">Contact</a></li>
        </ul>
    </nav>
